body{
    margin: 0px;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
}
.main img{
    width: 100%;
    height: 100%; 
}
.s1{
    position: absolute;
    top: 50px;
    left: 100px;
}
.s1 img{
    width: 200px;
}
.s2{
    position: absolute;
    top: 300px;
    left: 530px;
    color: azure;
    font-size: xx-large;
    text-align: center;
}
.s2 h1,p{
    margin: 20px;
}
.s3{
    position: absolute;
    top: 640px;
    left: 670px;
}
.s3 input{
    width: 400px;
    height: 45px;
    background-color: rgb(78, 74, 74, 0.5);
    color: azure;
    border: 2px solid silver;
    border-radius: 5px;
}
.s3 ::placeholder{
    font-size: larger;
    color: silver;
    padding: 20px;
}
.s3 button{
    width: 200px;
    height: 55px;
    background-color: rgb(200, 3, 3);
    font-size: larger;
    color: azure;
    border: 2px solid silver;
    border-radius: 5px;
    margin: 5px;
}
.s4{
    position: absolute;
    top: 40px;
    right: 120px;
}
.s4 select{
    width: 120px;
    height: 35px;
    background-color: rgb(0, 0, 0, 0.2);
    font-size: large;
    color: rgb(255, 255, 255);
    border: 2px solid silver;
    border-radius: 5px;
    padding: 5px;
}
.s4 button{
    width: 120px;
    height: 35px;
    background-color: rgb(200, 3, 3);
    font-size: larger;
    color: azure;
    border: 2px solid silver;
    border-radius: 5px;
    margin: 5px;
}
.main2{
    background-color: black;
    width: 100%;
    height: 1000px;
    margin: 0px;
}
.main2 p,h3{
    margin: 0px;
}
.m1{
    position: relative;
    width: 70%;
    height: 70px;
    background-color: rgb(138, 43, 226, 0.5); 
    color: azure;
    font-size: larger;
    left: 15%;
    top: 40px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.m1 :hover{
    transform: scale(1.1); /* Scale the entire div slightly */
    /* background-color: rgb(138, 43, 226, 0.5); ---> Optionally changed background color slightly */
}
.m11{
    position: absolute;
    left: 0px;
}
.m11 img{
    width: 70px;
}
.m12{
    position: absolute;
    left: 150px;
    top: 10px;
}
.m13{
    position: absolute;
    right: 50px;
    top: 20px;
}
.m13 button{
    width: 100px;
    height: 30px;
    background-color: grey;
    color: azure;
    border-radius: 5px;
}
.m2{
    position: relative;
    width: 70%;
    left: 15%;
    top: 100px;
}
.r1{
    position: relative;
}
.r1 img{
    width: 200px;
}
.r1{
    transition: transform 0.3s ease;
}
.r1 :hover{
    transform: scale(1.1);
}
.r11{
    position: absolute;
    top: 135px;
    right: 80px;
}
.m2 td{
    padding: 50px;
}